<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">
        Products
    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
        <li class="breadcrumb-item position-relative">
            <a routerLink="/" class="d-inline-block position-relative">
                <i class="ri-home-8-line"></i>
                Products
            </a>
        </li>
    </ol>
</div>

<!-- Products Grid -->
<div
    class="row"
    [class.component-dark-theme]="themeService.isDark()"
    [class.rtl-enabled]="themeService.isRTLEnabled()"
>
    <div class="col-md-4 col-lg-3">
        <!-- Filter Sidebar Card -->
        <mat-card class="daxa-card filter-sidebar-card mb-25 border-radius bg-white border-none d-block">
            <mat-card-content>
                <div class="filter-item">
                    <span class="d-block fw-medium">
                        Search
                    </span>
                    <form class="search-box position-relative">
                        <i class="material-symbols-outlined">
                            search
                        </i>
                        <input type="text" class="input-search d-block w-100 border-none outline-0" placeholder="Search product..." #input>
                    </form>
                </div>

                <div class="filter-item">
                    <span class="d-block fw-medium">
                        Categories
                    </span>
                    <ul class="filters-list pl-0 mb-0 list-unstyled">
                        <li *ngFor="let category of (categories$ | async)" class="d-flex align-items-center justify-content-between">
                            <mat-checkbox (change)="onCategoryMatChange($event, category)">
                                {{category}}
                            </mat-checkbox>
                        </li>
                    </ul>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="col-md-8 col-lg-9" *ngIf="(products$ | async) as products">
        <!-- Products -->
        <div class="row">
            <div class="col-sm-6 col-lg-4" *ngFor="let product of products.products">
                <mat-card class="daxa-card product-card text-center mb-25 border-radius p-0 bg-white border-none d-block">
                    <mat-card-content>
                        <div class="image position-relative border-radius">
                            <a [routerLink]="['/shop/product-details', product._id]" class="d-block border-radius">
                                <img ngSrc="/images/products/product1.jpg" class="border-radius transition" alt="product-image" width="580" height="580">
<!--                                <img ngSrc="{{product.imagePath}}" class="border-radius transition" alt="product-image" width="580" height="580">-->
                            </a>
                            <button mat-mini-fab (click)="addToCart($event, product._id)">
                                <i class="ri-shopping-cart-2-line"></i>
                            </button>
                        </div>
                        <div class="content">
                            <h5>
                                <a [routerLink]="['/shop/product-details', product._id]">
                                    {{product.name}}
                                </a>
                            </h5>
                            <div class="price d-flex align-items-center justify-content-center lh-1">
                                <span class="text-black fw-medium d-block" [id]="product._id">
                                    {{ product.bundles[0].price | currency: "₦":"symbol":"1.0-0" }}
                                </span>
                            </div>

                            <input type="hidden" [id]="product._id + '-hidden'" [value]="product.bundles[0]._id">

                            <mat-form-field>
                                <mat-label>Bundle</mat-label>
                                <mat-select [value]="product.bundles[0]._id" (selectionChange)="onSelectChange($event, product._id)">
                                    @for (bundle of product.bundles; track bundle) {
                                        <mat-option [value]="bundle._id">{{bundle.unit}}</mat-option>
                                    }
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

        <ng-template #loading>
            Loading Please Wait...
        </ng-template>

        <!-- Pagination -->
        <div class="pagination-card mb-25 d-lg-flex align-items-center justify-content-between">
            <p class="mb-0">
                Showing {{ ((products.current  - 1) * products.size) + 1 }} to {{ Number(((products.current  - 1) * products.size) + products.current_size)  }} of {{products.count}} entries
            </p>
            <ol class="pagination list-unstyled mt-0 mb-0 pl-0">
                <li class="pagination-item d-inline-block">
                    <a mat-button>
                        <i class="material-symbols-outlined">
                            west
                        </i>
                    </a>
                </li>
                <li class="pagination-item d-inline-block" *ngFor="let n of [].constructor(products.pages) index as i">
                    <a mat-button [ngClass]="{'active': i === products.current - 1}" (click)="refreshPage(i + 1)">
                        {{i + 1}}
                    </a>
                </li>
                <li class="pagination-item d-inline-block">
                    <a mat-button>
                        <i class="material-symbols-outlined">
                            east
                        </i>
                    </a>
                </li>
            </ol>
        </div>
    </div>
</div>
