<div class="row">
    <div class="col-lg-6 col-xxxl-6">
        <app-total-sales/>
    </div>
    <div class="col-lg-6 col-xxxl-3">
        <div class="row">
            <div class="col-md-6 col-lg-12">
                <app-total-orders/>
            </div>
            <div class="col-md-6 col-lg-12">
                <app-total-revenue/>
            </div>
        </div>
    </div>

    <div class="col-lg-12 col-xxxl-6">
        <app-e-orders [standalone]="false"/>
    </div>
    <div class="col-lg-6 col-xxxl-4">
        <app-order-summary/>
    </div>
    <div class="col-lg-6 col-xxxl-4">
        <app-top-sellers/>
    </div>
</div>
