
<ng-container *ngIf="(loading$ | async) as loading">
    <div *ngIf="loading" class="loader flex-content-center">
        <mat-progress-spinner
            color="primary"
            mode="indeterminate">
        </mat-progress-spinner>
    </div>
</ng-container>

<div
    class="account-settings-card"
    [class.rtl-enabled]="themeService.isRTLEnabled()"
>
    <h4>
        Profile
    </h4>
    <p>
        Update your photo and personal details here.
    </p>
    <form [formGroup]="settingsForm" (ngSubmit)="onSubmit()" *ngIf="settingsForm">
        <div class="row">
            <div class="col-sm-6">
                <div class="mb-25">
                    <label class="main-label d-block lh-1 text-black">
                        First Name
                    </label>
                    <mat-form-field>
                        <mat-label>
                            First name
                        </mat-label>
                        <input matInput formControlName="firstName">
                    </mat-form-field>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="mb-25">
                    <label class="main-label d-block lh-1 text-black">
                        Last Name
                    </label>
                    <mat-form-field>
                        <mat-label>
                            Last name
                        </mat-label>
                        <input matInput formControlName="lastName">
                    </mat-form-field>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="mb-25">
                    <label class="main-label d-block lh-1 text-black">
                        Email Address
                    </label>
                    <mat-form-field>
                        <mat-label>
                            Email address
                        </mat-label>
                        <input matInput formControlName="email" readonly>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="mb-25">
                    <label class="main-label d-block lh-1 text-black">
                        Phone Number
                    </label>
                    <mat-form-field>
                        <mat-label>
                            Phone number
                        </mat-label>
                        <input matInput formControlName="telephone">
                    </mat-form-field>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="mb-25">
                    <label class="main-label d-block lh-1 text-black">
                        Address
                    </label>
                    <mat-form-field>
                        <mat-label>
                            Address
                        </mat-label>
                        <textarea matInput placeholder="E.g. It makes me feel..." formControlName="address"></textarea>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="btn-box" type="submit">
            <button mat-button>
                Update Profile
            </button>
        </div>
    </form>
</div>
