<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">
        Products Details
    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
        <li class="breadcrumb-item position-relative">
            <a routerLink="/" class="d-inline-block position-relative">
                <i class="ri-home-8-line"></i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item position-relative">
            E-Commerce
        </li>
        <li class="breadcrumb-item position-relative">
            Products
        </li>
        <li class="breadcrumb-item position-relative">
            Product Details
        </li>
    </ol>
</div>

<!-- Product Details -->
<mat-card
    class="daxa-card product-details-card mb-25 border-radius bg-white border-none d-block"
    [class.component-dark-theme]="themeService.isDark()"
    [class.rtl-enabled]="themeService.isRTLEnabled()"
>
    <ng-container *ngIf="product$ | async as p">
        <mat-card-content>
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="product-details-image">
                        <div class="product-gallery__featured">
                            <img [ngSrc]="p.imagePath" [alt]="p.imagePath" class="border-radius" width="950"
                                 height="950">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="product-details-content">
                        <h3>
                            {{ p.name }}
                        </h3>
                        <div class="price d-flex align-items-center lh-1">
                        <span class="text-black fw-medium d-block">
                           {{ bundle_price | currency: "₦":"symbol":"1.0-0" }}
                        </span>
                        </div>
                        <div class="ratings lh-1 d-flex align-items-center text-body">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-half-line"></i>
                            <span class="d-inline-block position-relative">
                            (4.5)
                        </span>
                        </div>
                        <p>
                            {{ p.description }}
                        </p>
                        <span class="sub-title d-block text-body">
                            Deliveries to locations on the Island
                        </span>
                        <mat-form-field>
                            <mat-label>Bundle</mat-label>
                            <mat-select [value]="p.bundles[0]._id" (selectionChange)="onSelectChange($event)" #bundle>
                                @for (bundle of p.bundles; track bundle) {
                                    <mat-option [value]="bundle._id">{{ bundle.unit }}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                        <div class="add-to-cart d-flex align-items-center">
                            <div class="quantity-counter">
                                <button (click)="decrement()">
                                    -
                                </button>
                                <input type="number" [(ngModel)]="value"/>
                                <button (click)="increment()">
                                    +
                                </button>
                            </div>
                            <button mat-button (click)="addToCart()">
                                Add To Cart
                            </button>
                        </div>
                        <ul class="info mb-0 mt-0 pl-0 list-unstyled">
                            <li class="text-body">
                                <span class="text-black">Category:</span>
                                {{ p.category }}
                            </li>
                            <li class="text-success">
                            <span class="text-black">
                                Availability:
                            </span>
                                In stock
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <mat-tab-group animationDuration="0ms">
                <mat-tab label="Ratings & Reviews">
                    <div class="overall-ratings">
                        <h5>
                            Ratings
                        </h5>
                        <div class="row align-items-center">
                            <div class="col-md-4 col-lg-3 col-xxxl-2">
                                <h3>
                                    4.9
                                </h3>
                                <span class="d-block text-body">
                                Overall Rating
                            </span>
                                <div class="all-ratings d-flex align-items-center">
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <span class="text-body position-relative">(158 Reviews)</span>
                                </div>
                            </div>
                            <div class="col-md-8 col-lg-9 col-xxxl-10">
                                <div class="rating-item position-relative">
                                    <div class="ratings d-flex align-items-center">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <span class="text-body position-relative">(5.00)</span>
                                    </div>
                                    <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
                                    <span class="number text-body d-block">
                                    (120)
                                </span>
                                </div>
                                <div class="rating-item position-relative">
                                    <div class="ratings d-flex align-items-center">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-line"></i>
                                        <span class="text-body position-relative">(4.00)</span>
                                    </div>
                                    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                                    <span class="number text-body d-block">
                                    (25)
                                </span>
                                </div>
                                <div class="rating-item position-relative">
                                    <div class="ratings d-flex align-items-center">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-line"></i>
                                        <i class="ri-star-line"></i>
                                        <span class="text-body position-relative">(3.00)</span>
                                    </div>
                                    <mat-progress-bar mode="determinate" value="20"></mat-progress-bar>
                                    <span class="number text-body d-block">
                                    (9)
                                </span>
                                </div>
                                <div class="rating-item position-relative">
                                    <div class="ratings d-flex align-items-center">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-line"></i>
                                        <i class="ri-star-line"></i>
                                        <i class="ri-star-line"></i>
                                        <span class="text-body position-relative">(2.00)</span>
                                    </div>
                                    <mat-progress-bar mode="determinate" value="8"></mat-progress-bar>
                                    <span class="number text-body d-block">
                                    (3)
                                </span>
                                </div>
                                <div class="rating-item position-relative">
                                    <div class="ratings d-flex align-items-center">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-line"></i>
                                        <i class="ri-star-line"></i>
                                        <i class="ri-star-line"></i>
                                        <i class="ri-star-line"></i>
                                        <span class="text-body position-relative">(1.00)</span>
                                    </div>
                                    <mat-progress-bar mode="determinate" value="2"></mat-progress-bar>
                                    <span class="number text-body d-block">
                                    (1)
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="reviews$ | async as reviews">
                        <div class="col-md-6" *ngFor="let r of reviews.reviews">
                            <div class="review-item mb-25 border-radius">
                                <div class="ratings d-flex align-items-center">
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <span class="text-body position-relative">({{ r.rating }})</span>
                                </div>
                                <p>
                                    {{ r.review }}
                                </p>
                                <div class="user-info d-flex align-items-center">
                                    <div>
                                    <span class="d-block">
                                        {{ r.userName }}
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="your-ratings" *ngIf="authService.user$ | async" s>
                        <h5>
                            Your Ratings
                        </h5>
                        <app-star-rating [(rating)]="selectedRating"/>
                        <form [formGroup]="ratingForm" (ngSubmit)="onSubmitPost()" *ngIf="ratingForm">
                            <mat-form-field class="textarea">
                                <mat-label>
                                    Write review here...
                                </mat-label>
                                <textarea matInput formControlName="rating"
                                          placeholder="E.g. It makes me feel..."></textarea>
                            </mat-form-field>
                            <button mat-button type="submit">
                                Submit
                            </button>
                        </form>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </ng-container>
</mat-card>
