<header
    class="header-area bg-white border-radius transition"
    [ngClass]="{'active': isSidebarToggled, 'sticky': isSticky}"
    [class.component-dark-theme]="themeService.isDark()"
    [class.right-sidebar]="themeService.isRightSidebar()"
    [class.hide-sidebar]="themeService.isHideSidebar()"
    [class.dark-header]="themeService.isHeaderDark()"
    [class.card-borderd-theme]="themeService.isCardBorder()"
    [class.rtl-enabled]="themeService.isRTLEnabled()">
    <div class="d-md-flex align-items-center justify-content-between">
        <div class="header-left-side d-flex align-items-center">
            <div
                class="burger-menu cursor-pointer transition d-xl-none"
                [ngClass]="{'active': isSidebarToggled}"
                (click)="toggle()"
            >
                <span class="top-bar d-block bg-black transition"></span>
                <span class="middle-bar d-block bg-black transition"></span>
                <span class="bottom-bar d-block bg-black transition"></span>
            </div>
            <div class="logo bg-white">
                <a routerLink="/" class="d-flex align-items-center">
                    <img src="images/logo.png" alt="logo-icon" style="max-height: 32px">
                    <span class="fw-semibold"> &nbsp;IcePlanet Store</span>
                </a>
            </div>
        </div>
        <ul class="header-right-side d-flex align-items-center mt-0 mb-0 pl-0 list-unstyled">

            <li>
                <button
                    mat-button
                    class="dark-swtich-btn"
                    (click)="toggleTheme()"
                >
                    <i class="material-symbols-outlined">
                        dark_mode
                    </i>
                </button>
            </li>

            <li *ngIf="!(authService.user$ | async)">
                <button
                    mat-button
                    class="messages-menu-btn p-0"
                    (click)="login()"
                >
                    <i class="material-symbols-outlined">
                        login
                    </i>
                </button>
            </li>

            <li *ngIf="(authService.user$ | async)">
                <button
                    mat-button
                    class="messages-menu-btn p-0"
                    (click)="logout()"
                >
                    <i class="material-symbols-outlined">
                        logout
                    </i>
                </button>
            </li>

            <li>
                <button mat-icon-button class="messages-menu-btn p-20" (click)="gotoHome()">
                    <i class="material-symbols-outlined">
                        storefront
                    </i>
                </button>
            </li>


            <li>
                <button mat-icon-button class="messages-menu-btn p-0" (click)="displayCart()">
                    <i class="material-symbols-outlined">
                        shopping_cart_checkout
                    </i>
                    <span class="daxa-badge">
                        {{cartService.count$ | async}}
                    </span>
                </button>
            </li>

            <li  *ngIf="(authService.user$ | async) as user">
                <button mat-button [matMenuTriggerFor]="profileMenu" class="profile-menu-btn">
                    <ng-container *ngIf="user.imageUrl && user.imageUrl.length > 0; else emptyImage">
                        <img ngSrc="{{user.imageUrl}}" class="border-radius transition" alt="product-image" width="70" height="70">
                    </ng-container>
                    <span class="status d-inline-block rounded-circle position-absolute"></span>
                </button>
                <mat-menu class="profile-menu-dropdown" #profileMenu="matMenu" xPosition="before">
                    <div [class.dark-menu]="themeService.isDark() || themeService.isHeaderDark()">
                        <div class="menu-header d-flex align-items-center">

                            <ng-container *ngIf="user.imageUrl && user.imageUrl.length > 0; else emptyImage">
                                <img ngSrc="{{user.imageUrl}}" class="border-radius transition" alt="product-image" width="70" height="70">
                            </ng-container>

                            <ng-template #emptyImage>
                                <img ngSrc="images/admin.png" alt="profile-image" width="70" height="70">
                            </ng-template>


                            <div class="title">
                                {{user.fullName}}
                            </div>
                        </div>
                        <ul class="menu-body pl-0 mb-0 mt-0 list-unstyled">
                            <li class="position-relative transition fw-medium">
                                <i class="material-symbols-outlined">
                                    settings
                                </i>
                                Settings
                                <a routerLink="/settings" class="link-btn d-block position-absolute"></a>
                            </li>
                            <li class="position-relative transition fw-medium">
                                <i class="material-symbols-outlined">
                                    logout
                                </i>
                                Logout
                                <a (click)="logout()" class="link-btn d-block position-absolute"></a>
                            </li>
                        </ul>
                    </div>
                </mat-menu>
            </li>
        </ul>
    </div>
</header>
