<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">
        Order Details
    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
        <li class="breadcrumb-item position-relative">
            <a routerLink="/" class="d-inline-block position-relative">
                <i class="ri-home-8-line"></i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item position-relative">
            E-Commerce
        </li>
        <li class="breadcrumb-item position-relative">
            Orders
        </li>
        <li class="breadcrumb-item position-relative">
            Order Details
        </li>
    </ol>
</div>

<!-- Order Details -->
<div class="row" *ngIf="order$ | async as o">
    <div class="col-lg-8">
        <mat-card
            class="daxa-card tracking-id-card mb-25 border-radius bg-white border-none d-block bg-gradient"
            [class.rtl-enabled]="themeService.isRTLEnabled()"
        >
            <mat-card-content>
                <span class="d-block fw-medium text-white">
                    Order ID: {{ o._id }}
                </span>
                <div class="numbers position-relative d-sm-flex align-items-center justify-content-between">
                    <div class="box">
                        <div class="rounded-circle text-center transition text-white fw-medium">
                            01
                        </div>
                        <span class="fw-medium d-block text-white">
                            Order Pending
                        </span>
                    </div>
                    <div class="box">
                        <div class="rounded-circle text-center transition text-white fw-medium">
                            02
                        </div>
                        <span class="fw-medium d-block text-white">
                            Paid
                        </span>
                    </div>
                    <div class="box active">
                        <div class="rounded-circle text-center transition text-white fw-medium">
                            03
                        </div>
                        <span class="fw-medium d-block text-white">
                            Shipped
                        </span>
                    </div>
                    <div class="box">
                        <div class="rounded-circle text-center transition text-white fw-medium">
                            04
                        </div>
                        <span class="fw-medium d-block text-white">
                            Delivered
                        </span>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card
            class="daxa-card recent-orders-card mb-25 border-radius bg-white border-none d-block"
            [class.rtl-enabled]="themeService.isRTLEnabled()"
        >
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mb-0">
                        OrderItems
                    </h5>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="recent-orders-table">
                    <div class="table-responsive">
                        <table mat-table [dataSource]="dataSource">


                            <!-- Product Column -->
                            <ng-container matColumnDef="product">
                                <th mat-header-cell *matHeaderCellDef>
                                    Product
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.name }}
                                </td>
                            </ng-container>

                            <!-- Unit Column -->
                            <ng-container matColumnDef="unit">
                                <th mat-header-cell *matHeaderCellDef>
                                    Unit
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.unit }}
                                </td>
                            </ng-container>

                            <!-- Quantity Column -->
                            <ng-container matColumnDef="quantity">
                                <th mat-header-cell *matHeaderCellDef>
                                    Total
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.quantity }}
                                </td>
                            </ng-container>

                            <!-- Total Column -->
                            <ng-container matColumnDef="price">
                                <th mat-header-cell *matHeaderCellDef>
                                    Total
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.total | currency: "₦":"symbol":"1.0-0"}}
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                        </table>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-lg-4">
        <mat-card
            class="daxa-card order-summary-card mb-25 border-radius bg-white border-none d-block"
            [class.rtl-enabled]="themeService.isRTLEnabled()"
            [class.component-dark-theme]="themeService.isDark()"
        >
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mb-0">
                        Order Summary
                    </h5>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="order-summary-table">
                    <div class="table-responsive">
                        <table>
                            <thead>
                            <tr>
                                <th scope="col" class="fw-medium text-black">
                                    Description
                                </th>
                                <th scope="col" class="fw-medium text-black">
                                    Price
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-body">
                                    Total :
                                </td>
                                <td class="text-body">
                                    {{ o.subtotal - o.discount | currency: "₦":"symbol":"1.0-0"}}
                                </td>
                            </tr>
                            <tr>
                                <td class="text-body">
                                    Discount :
                                </td>
                                <td class="text-body">
                                   {{o.discount | currency: "₦":"symbol":"1.0-0"}}
                                </td>
                            </tr>
                            <tr>
                                <td class="text-black">
                                    Subtotal :
                                </td>
                                <td class="text-body">
                                    {{o.subtotal | currency: "₦":"symbol":"1.0-0"}}
                                </td>
                            </tr>
                            <tr>
                                <td class="text-body">
                                    Delivery Charge :
                                </td>
                                <td class="text-body">
                                   {{o.deliveryPrice | currency: "₦":"symbol":"1.0-0"}}
                                </td>
                            </tr>

                            <tr>
                                <td class="text-black">
                                    Grand-Total :
                                </td>
                                <td class="text-body">
                                   {{o.grandTotal | currency: "₦":"symbol":"1.0-0"}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <h5>
                    Payment Method
                </h5>
                <div class="payment-method d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <div class="icon">
                            <img src="images/master-card.png" alt="master-card">
                        </div>
                        <div class="info">
                            <span class="d-block fw-medium">
                                Payment
                            </span>
                            <span class="d-block text-body">
                                Via MasterCard
                            </span>
                        </div>
                    </div>
                    <span class="d-block text-body">
                        {{o.grandTotal | currency: "₦":"symbol":"1.0-0"}}
                    </span>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-lg-4 col-md-6" *ngIf="o.delivery">
        <mat-card
            class="daxa-card order-details-card mb-25 border-radius bg-white border-none d-block"
            [class.rtl-enabled]="themeService.isRTLEnabled()"
        >
            <mat-card-content>
                <h5>
                    Delivery Details
                </h5>
                <ul class="pl-0 mb-0 mt-0 list-unstyled">
                    <li class="text-body">
                        <span class="text-black">Shipping Date:</span> {{ o.date | date: "dd/MM/yyyy" }}
                    </li>
                    <li class="text-body">
                        <span class="text-black">Email:</span> {{o.user?.email}}
                    </li>
                    <li class="text-body">
                        <span class="text-black">Phone:</span> {{o.user?.telephoneNumber}}
                    </li>
                    <li class="text-body">
                        <span class="text-black">Address:</span> {{o.deliveryAddress}}
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>
</div>
